# Testreport

______________________________________________________
| Method            | Type of test    | Test result  |
|-------------------|-----------------|--------------|
| Create new Item   |   automatic     |      OK      |
|                   |                 |              |
| Get item name     |   automatic     |      OK      |
|                   |                 |              |
| Get item id       |   automatic     |      OK      |
|                   |                 |              |
| Set item color    |   automatic     |      OK      |
|                   |                 |              |
| Get item color    |   automatic     |      OK      |
|                   |                 |              |
|___________________|_________________|______________|

